:root {
	--font-body: "Merriweather", serif;
	--font-title: "Merienda", cursive;
	--bg-dark: #050706;
	--bg-accent: #989898;
	--font-size-900: 4rem;
	--font-size-700: 3rem;
	--font-size-500: 2rem;
	--font-size-600: 2.25rem;
	--font-size-400: 1.25rem;
	--font-size-300: 1rem;
	--opacity: 0.8;
}

.articles {
	display: flex;
	justify-content: center;
	padding: var(--font-size-400);
}

.articles .Articles__Card {
	margin-block: var(--font-size-400);
}

.articles .Articles__Card__Content {
	height: 200px;
	background-color: white;
	color: var(--bg-dark);
}

.Articles__Card .Articles__Card__Action {
	background-color: white;
}

.articles__link {
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.articles .Articles__Card__Content {
		height: 200px;
	}

	.Articles__Card__Content .Articles__Card__Title {
		font-size: var(--font-size-300);
		font-weight: bold;
	}

	.articles .Articles__Card {
		min-width: 200px;
		max-width: 345px;
		margin-block: var(--font-size-300);
	}
}
