.concern {
	background-color: #050706;
}

.concern__title {
	color: #ffc947;
	text-align: center;
	padding: 3%;
	font-size: 1.5rem;
}

.concern__title span {
	font-size: 2rem;
}

.concern__articlebox {
	display: flex;
	justify-content: center;
}

.concern__left {
	display: flex;
	width: 30%;
	flex-direction: column;
	justify-content: center;
	padding: 8px;
}

.concern__center {
	display: flex;
	width: 40%;
	justify-content: center;
	align-items: center;
}

.concern__right {
	display: flex;
	width: 30%;
	flex-direction: column;
	justify-content: center;
	padding: 8px;
}
