.Dataset {
	padding: 25px;
	padding-top: 0;
	width: 98%;
	overflow: scroll;
}

.Dataset__page {
	background-color: #fff;
}

.dataset__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Dataset__title {
	color: #ffc947;
	font-size: 1.5rem;
	text-align: center;
	padding: 8px;
	padding-right: 2rem;
}

.Dataset__title span {
	font-size: 1.7rem;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1rem;
}

table {
	overflow: scroll;
}

td,
th {
	text-align: center;
}

td {
	width: 1px;
	white-space: nowrap;
	color: black;
}

/* th {
	background-color: #6998ab;
}
 */
tr:nth-child(even) {
	background-color: #fff;
}
tr:nth-child(odd) {
	background-color: rgb(221, 211, 211);
}

.Dataset__skeleton {
	width: 95vw;
	height: 70vw !important;
}
