@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.Dataset__container {
	display: flex;
	justify-content: center;
}
a {
	text-decoration: none;
}

.Dataset {
	/* padding: 25px; */
	padding-top: 0;
	width: 80%;
	overflow: scroll;
}

.Dataset__page {
	background-color: #fff;
}

.dataset__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Dataset__title {
	color: #050706;
	font-weight: 900px;
	font-size: 1.5rem;
	text-align: center;
	padding: 8px;
	padding-right: 2rem;
}

.Dataset__title span {
	font-size: 1.7rem;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1rem;
}

table {
	overflow: scroll;
}

td,
th {
	text-align: center;
}

td {
	width: 1px;
	white-space: nowrap;
	color: black;
}

th {
	background-color: #050706;
	color: white;
	border-color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:nth-child(odd) {
	background-color: #fff;
}

.Dataset__skeleton {
	width: 95vw;
	height: 70vw !important;
}

/* React Pagination css */

.navigationButtons {
	width: 80%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
	margin: auto;
	padding-top: 3rem;
	padding: 4rem;
}

.navigationButtons a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid #050706;
	color: black;
	cursor: pointer;
}

.navigationButtons a:hover {
	color: white !important;
	font-weight: 700;
	background-color: #050706;
}

.navigationActive a {
	color: white !important;
	font-weight: 700;
	background-color: #050706;
}

.navigationDisabled a {
	visibility: hidden;
	color: grey;
	background-color: grey;
}
