body {
	/* overflow-x: hidden; */
	width: 100vw;
}

.landing__container {
	position: relative;
	text-align: center;
}

.landing__clip {
	/* position: absolute;
	top: 0;
	z-index: -1; */
	width: 100vw;
}

.Landing__content {
	width: 100%;
	position: absolute;
	top: 250px;
	right: 10%;
	display: flex;
	justify-content: flex-end;
	margin-right: 2rem;
}

.Navbar__contentright {
	width: 250px;
	color: white;
	font-weight: 500;
	opacity: 0.8;
}

.Navbar__contentright span {
	color: grey;
	font-style: italic;
}
