.Plotgraph {
	background-color: #232f41;
	height: 100vh;
}

.Plotgraph__header {
	padding: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Plotgraph__plot {
	display: flex !important;
	justify-content: center;
	text-align: center;
	align-items: center;
	border: 1px solid #ffc947;
	padding: 0.75rem;
}

.Plotgraph__title {
	font-size: 1.5rem;
	text-align: center;
	color: #ffc947;
	padding: 0.75rem;
}

.Plotgraph__title span {
	font-size: 1.7rem;
}
