/* .Dropdown {
	min-width: 200px !important;
} 

#demo-simple-select-label {
	color: #ffc947 !important;
}

.Dropdown__formControl {
	min-width: 200px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
	border-color: #ffc947 !important;
}

.MuiOutlinedInput-root,
.MuiInputBase-root,
.MuiInputBase-colorPrimary,
.Mui-focused,
.MuiInputBase-formControl,
.Dropdown__select,
.css-nqj7z6-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
	border-color: 1px solid white;
}

img,
svg {
	color: white !important;
} */

.MuiPaper-root ul {
	background: white;
	color: black;
}
